service-web/BankService/src/main/webapp/wsdl/BankService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bank.projet.uge.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://bank.projet.uge.fr" xmlns:intf="http://bank.projet.uge.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://bank.projet.uge.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="checkAvailableBalance">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="currency" type="xsd:string"/>
      <element name="amount" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkAvailableBalanceResponse">
    <complexType>
     <sequence>
      <element name="checkAvailableBalanceReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkAvailablebalanceF">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="currency" type="xsd:string"/>
      <element name="amount" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkAvailablebalanceFResponse">
    <complexType>
     <sequence>
      <element name="checkAvailablebalanceFReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="checkAvailablebalanceFRequest">

      <wsdl:part element="impl:checkAvailablebalanceF" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkAvailableBalanceResponse">

      <wsdl:part element="impl:checkAvailableBalanceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkAvailablebalanceFResponse">

      <wsdl:part element="impl:checkAvailablebalanceFResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkAvailableBalanceRequest">

      <wsdl:part element="impl:checkAvailableBalance" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BankService">

      <wsdl:operation name="checkAvailableBalance">

         <wsdl:input message="impl:checkAvailableBalanceRequest" name="checkAvailableBalanceRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkAvailableBalanceResponse" name="checkAvailableBalanceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkAvailablebalanceF">

         <wsdl:input message="impl:checkAvailablebalanceFRequest" name="checkAvailablebalanceFRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkAvailablebalanceFResponse" name="checkAvailablebalanceFResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BankServiceSoapBinding" type="impl:BankService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="checkAvailableBalance">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkAvailableBalanceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkAvailableBalanceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkAvailablebalanceF">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkAvailablebalanceFRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkAvailablebalanceFResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BankServiceService">

      <wsdl:port binding="impl:BankServiceSoapBinding" name="BankService">

         <wsdlsoap:address location="http://localhost:8945/BankService/services/BankService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
