service-web/ChangeService/src/main/webapp/wsdl/ChangeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://change.projet.uge.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://change.projet.uge.fr" xmlns:intf="http://change.projet.uge.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://change.projet.uge.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="change">
    <complexType>
     <sequence>
      <element name="currencySrc" type="xsd:string"/>
      <element name="currencyDest" type="xsd:string"/>
      <element name="amount" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="changeResponse">
    <complexType>
     <sequence>
      <element name="changeReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="changeResponse">

      <wsdl:part element="impl:changeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="changeRequest">

      <wsdl:part element="impl:change" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ChangeService">

      <wsdl:operation name="change">

         <wsdl:input message="impl:changeRequest" name="changeRequest">

       </wsdl:input>

         <wsdl:output message="impl:changeResponse" name="changeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ChangeServiceSoapBinding" type="impl:ChangeService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="change">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="changeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="changeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ChangeServiceService">

      <wsdl:port binding="impl:ChangeServiceSoapBinding" name="ChangeService">

         <wsdlsoap:address location="http://localhost:8080/ChangeService/services/ChangeService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
